.active {
    letter-spacing: 0.025em !important;
    color: #ffffff !important;
    background-color: #F7A582 !important;
    padding: 10px;
    border-radius: 6px;
}

.default {
    letter-spacing: 0.025em !important;
    color: #ffffff !important;
    background-color: transparent !important;
}

.dropdown .dropdown-content {
    position: absolute;
    right: 0;
}