input::placeholder {
    color: #ffffff;
    /* Change this to your desired text color */
}

.custom-input {
    @apply w-full p-5 bg-[#ffffff0d] rounded-[10px] text-white
}

.custom-select option {
    background-color: #ffffff0d;
    /* Change this to your desired background color */
    color: #000;
    /* Change this to your desired text color */
}